<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form th:action="@{/login}" method="post">
        <label>Email:</label>
        <input type="text" name="username" required/>
        <br>
        <label>Password:</label>
        <input type="password" name="password" required/>
        <br>
        <button type="submit">Log In</button>
    </form>
    <p th:if="${message}" th:text="${message}"></p>
    <p>Don't have an account? <a th:href="@{/register}">Register</a></p>
</body>
</html>
